@model IEnumerable<DentalHospital.Models.Doctor_Table>

@{
    ViewBag.Title = "DoctorRecord";
}

<h2>Doctor Record</h2>
<!-- adding new doctor record page-->
<p>
    @Html.ActionLink("Add New Doctor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialist)
        </th>
        <th>Edit | Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialist)
            </td>
            <td>
                <span class="btn btn-danger">      @Html.ActionLink("Edit", "Edit", new { id = item.id }) </span>|

                <span class="btn btn-warning">@Html.ActionLink("Delete", "Delete", new { id = item.id })</span>
            </td>
        </tr>
    }

</table>
<a href="@Url.Action("Right","Login")" class="btn btn-danger">Back to Index</a>
